<!-- Main Wrapper -->
<div class="login-wrapper">
  <div class="container">
    <img
      class="img-fluid logo-dark mb-2"
      src="assets/img/logo-01.png"
      alt="Logo"
    />
    <div class="loginbox">
      <div class="login-right">
        <div class="login-right-wrap">
          <h1>Welcome Back</h1>
          <p class="account-subtitle text-center">
            Don't miss your next opportunity. Sign in to stay updated on your
            professional world.
          </p>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- Email Field -->
            <div
              class="form-group form-focus"
              [ngClass]="{ focused: loginForm.get('email')?.value }"
            >
              <label class="focus-label" for="email">Email</label>
              <input
                class="form-control floating"
                type="text"
                formControlName="email"
                id="email"
                [ngClass]="{
                  'is-invalid':
                    loginForm.get('email')?.touched &&
                    loginForm.get('email')?.invalid
                }"
              />
              <span class="profile-views"
                ><i class="fas fa-user-circle"></i
              ></span>

              <!-- Custom Error Message -->
              <div
                *ngIf="CustomControler?.status === 'email'"
                class="invalid-feedback"
              >
                {{ CustomControler?.message }}
              </div>

              <!-- Angular Validation Error Messages -->
              <div
                *ngIf="
                  loginForm.get('email')?.touched &&
                  loginForm.get('email')?.invalid
                "
                class="invalid-feedback"
              >
                
                 
              </div>
            </div>

            <!-- Password Field -->
            <div
              class="form-group form-focus"
              [ngClass]="{ focused: loginForm.get('password')?.value }"
            >
              <label class="focus-label" for="password">Password</label>
              <input
                class="form-control floating"
                [type]="Toggledata ? 'password' : 'text'"
                formControlName="password"
                id="password"
                [ngClass]="{
                  'is-invalid':
                    loginForm.get('password')?.touched &&
                    loginForm.get('password')?.invalid
                }"
              />
              <span
                class="fas toggle-password"
                [ngClass]="Toggledata ? 'fa-eye-slash' : 'fa-eye'"
                (click)="iconLogle()"
                (keydown.enter)="iconLogle()"
                tabindex="0"
              ></span>

              <!-- Custom Error Message -->
              <div
                *ngIf="CustomControler?.status === 'password'"
                class="invalid-feedback"
              >
                {{ CustomControler?.message }}
              </div>

              <!-- Angular Validation Error Messages -->
              
            </div>

            <!-- Remember Password -->
            <div class="form-group">
              <label class="custom_check">
                <input type="checkbox" name="rem_password" />
                <span class="checkmark"></span> Remember password
              </label>
            </div>

            <!-- Login Button -->
            <button
              class="btn btn-primary w-100 btn-lg login-btn"
              type="submit"
            >
              Login
            </button>

            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
