<!-- Breadcrumb -->
<div class="bread-crumb-bar">
  <div class="container">
    <div class="row align-items-center inner-banner">
      <div class="col-md-12 col-12 text-center">
        <div class="breadcrumb-list">
          <h3>Publier une Offre</h3>
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="routes.home">Home</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">
                Publier une Offre
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container shadow-lg">
    <div class="row">
      <div class="col-md-12">
        <div class="select-project mb-4">
          <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
            <div class="container">
              <!-- General Information -->
              <h3 class="mt-4">Généralités</h3>
              <div class="form-group">
                <label for="title" class="focus-label"
                  >Titre du poste recherché</label
                >
                <input
                  id="title"
                  formControlName="title"
                  class="form-control"
                  type="text"
                  placeholder="Exemple : Développeur Full Stack"
                  [ngClass]="{
                    'is-invalid':
                      title?.invalid && (title?.touched || title?.dirty)
                  }"
                />
                <!-- Message d'erreur -->
                <div
                  *ngIf="title?.touched && title?.invalid"
                  class="text-danger"
                >
                  <div *ngIf="title?.errors?.['required']">
                    Le titre du poste est obligatoire.
                  </div>
                  <div *ngIf="title?.errors?.['minlength']">
                    Le titre du poste doit contenir au moins 5 caractères.
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Job -->
                <div class="col-md-4">
                  <label for="job" class="focus-label">Métier</label>
                  <select
                    id="job"
                    formControlName="job"
                    class="form-select"
                    [ngClass]="{
                      'is-invalid': job?.invalid && (job?.touched || job?.dirty)
                    }"
                  >
                    <option value="" disabled selected>
                      Selectionner un métier
                    </option>
                    <option *ngFor="let job of jobs" [value]="job.id">
                      {{ job?.name }}
                    </option>
                  </select>
                  <!-- Message d'erreur -->
                  <div *ngIf="job?.touched && job?.invalid" class="text-danger">
                    <div *ngIf="job?.errors?.['required']">
                      Le Métier est obligatoire.
                    </div>
                  </div>
                </div>

                <!-- Sub Activity -->
                <div class="col-md-4">
                  <div class="input-block">
                    <label for="subActivity" class="focus-label"
                      >Sous Activité</label
                    >
                    <select
                      id="subActivity"
                      formControlName="subActivity"
                      class="form-select"
                      (change)="onSubActivityChange($event)"
                      [ngClass]="{
                        'is-invalid':
                          subActivity?.invalid &&
                          (subActivity?.touched || subActivity?.dirty)
                      }"
                    >
                      <option value="" disabled selected>
                        Selectionner une Sous Activité
                      </option>
                      <option
                        *ngFor="let subActivity of subActivities"
                        [value]="subActivity.id"
                      >
                        {{ subActivity?.name }}
                      </option>
                    </select>
                    <!-- Message d'erreur -->
                    <div
                      *ngIf="subActivity?.touched && subActivity?.invalid"
                      class="text-danger"
                    >
                      <div *ngIf="subActivity?.errors?.['required']">
                        Sous Activité est obligatoire.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Activity -->
                <div class="col-md-4">
                  <div class="input-block">
                    <label for="activite" class="focus-label">Activité</label>
                    <input
                      formControlName="activity"
                      type="text"
                      class="form-control"
                      placeholder="Activité"
                      readonly
                      [ngClass]="{
                        'is-invalid':
                          activity?.invalid &&
                          (activity?.touched || activity?.dirty)
                      }"
                    />
                    <!-- Message d'erreur -->
                    <div
                      *ngIf="activity?.touched && activity?.invalid"
                      class="text-danger"
                    >
                      <div *ngIf="activity?.errors?.['required']">
                        Activité est obligatoire.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Location -->
              <h3 class="mt-4">Localisation</h3>
              <div class="row mt-3">
                <div class="col-md-4">
                  <label for="city" class="focus-label">Ville</label>
                  <input
                    id="city"
                    formControlName="city"
                    class="form-control"
                    type="text"
                    placeholder="Saisir une ville"
                    (input)="onCityInput($event)"
                    [attr.autocomplete]="'off'"
                    [ngClass]="{
                      'is-invalid':
                        city?.invalid && (city?.touched || city?.dirty)
                    }"
                  />
                  <!-- Autocomplete suggestions -->
                  <ul class="autocomplete-list" *ngIf="filteredCities.length">
                    <li
                      *ngFor="let city of filteredCities"
                      (click)="selectCity(city)"
                      class="autocomplete-item"
                    >
                      {{ city.name }}
                    </li>
                  </ul>
                  <!-- Message d'erreur -->
                  <div
                    *ngIf="city?.touched && city?.invalid"
                    class="text-danger"
                  >
                    <div *ngIf="city?.errors?.['required']">
                      Ville est obligatoire.
                    </div>
                  </div>
                </div>

                <!-- Department (Read-only field) -->
                <div class="col-md-4">
                  <label for="department" class="focus-label"
                    >Département</label
                  >
                  <input
                    id="department"
                    type="text"
                    class="form-control"
                    formControlName="department"
                    readonly
                    [ngClass]="{
                      'is-invalid':
                        department?.invalid &&
                        (department?.touched || department?.dirty)
                    }"
                  />
                  <!-- Message d'erreur -->
                  <div
                    *ngIf="department?.touched && department?.invalid"
                    class="text-danger"
                  >
                    <div *ngIf="department?.errors?.['required']">
                      Département est obligatoire.
                    </div>
                  </div>
                </div>

                <!-- Region (Read-only field) -->
                <div class="col-md-4">
                  <label for="region" class="focus-label">Région</label>
                  <input
                    id="region"
                    type="text"
                    class="form-control"
                    formControlName="region"
                    readonly
                    [ngClass]="{
                      'is-invalid':
                        region?.invalid && (region?.touched || region?.dirty)
                    }"
                  />
                  <!-- Message d'erreur -->
                  <div
                    *ngIf="region?.touched && region?.invalid"
                    class="text-danger"
                  >
                    <div *ngIf="region?.errors?.['required']">
                      Région est obligatoire.
                    </div>
                  </div>
                </div>
              </div>

              <!-- Contract Type -->
              <h3 class="mt-4">Détails</h3>

              <div class="row mt-2">
                <div class="col-md-6">
                  <label for="duration" class="focus-label">Durée prévue</label>

                  <input
                    id="duration"
                    formControlName="duration"
                    class="form-control"
                    type="number"
                    placeholder="Entrez un nombre (ex:3)"
                    [ngClass]="{
                      'is-invalid':
                        duration?.invalid &&
                        (duration?.touched || duration?.dirty)
                    }"
                  />
                  <!-- Message d'erreur -->
                  <div
                    *ngIf="duration?.touched && duration?.invalid"
                    class="text-danger"
                  >
                    <div *ngIf="duration?.errors?.['required']">
                      Durée prévue est obligatoire.
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="timeUnit" class="focus-label"
                    >Unité de temps</label
                  >
                  <select
                    id="timeUnit"
                    formControlName="timeUnit"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        timeUnit?.invalid &&
                        (timeUnit?.touched || timeUnit?.dirty)
                    }"
                  >
                    <option value="" disabled selected>
                      Selectionner un unité(Semaine,Mois,Année)
                    </option>
                    <option value="Semaine">Semaine</option>
                    <option value="Mois">Mois</option>
                    <option value="Année">Année</option>
                  </select>
                  <!-- Message d'erreur -->
                  <div
                    *ngIf="timeUnit?.touched && timeUnit?.invalid"
                    class="text-danger"
                  >
                    <div *ngIf="timeUnit?.errors?.['required']">
                      Unité de temps est obligatoire.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-4">
                  <label for="contractType" class="focus-label"
                    >Type de contrat</label
                  >
                  <select
                    formControlName="contractType"
                    class="form-control"
                    (change)="onContractTypeChange($event)"
                    [ngClass]="{
                      'is-invalid':
                        contractType?.invalid &&
                        (contractType?.touched || contractType?.dirty)
                    }"
                  >
                    <option value="" disabled selected>
                      Selectionner un type de contrat
                    </option>
                    <option
                      *ngFor="let type of contractTypes"
                      [value]="type.id"
                    >
                      {{ type?.description }}
                    </option>
                  </select>

                  <!-- Message d'erreur -->
                  <div
                    *ngIf="contractType?.touched && contractType?.invalid"
                    class="text-danger"
                  >
                    <div *ngIf="contractType?.errors?.['required']">
                      Type de contrat est obligatoire.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="startDate" class="focus-label"
                    >Date de début prévue</label
                  >
                  <input
                    id="startDate"
                    formControlName="startDate"
                    class="form-control"
                    type="date"
                    placeholder="Choisissez une date"
                    [ngClass]="{
                      'is-invalid':
                        startDate?.invalid &&
                        (startDate?.touched || startDate?.dirty)
                    }"
                  />
                  <!-- Message d'erreur -->
                  <div
                    *ngIf="startDate?.touched && startDate?.invalid"
                    class="text-danger"
                  >
                    <div *ngIf="startDate?.errors?.['required']">
                      Date de début prévue est obligatoire.
                    </div>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="!isCdiSelected">
                  <label for="startDate" class="focus-label">Date de fin</label>
                  <input
                    id="endDate"
                    formControlName="endDate"
                    class="form-control"
                    type="date"
                    [ngClass]="{
                      'is-invalid':
                        endDate?.invalid && (endDate?.touched || endDate?.dirty)
                    }"
                  />
                  <!-- Message d'erreur -->
                  <div
                    *ngIf="endDate?.touched && endDate?.invalid"
                    class="text-danger"
                  >
                    <div *ngIf="endDate?.errors?.['required']">
                      Date de fin est obligatoire.
                    </div>
                  </div>
                </div>
              </div>

              <!-- Competencies -->
              <h3 class="mt-4">Compétences</h3>
              <div class="form-group">
                <label for="skills" class="focus-label"
                  >Compétences requises</label
                >
                <!-- Selected Skills as Chips -->
                <div
                  class="selected-skills"
                  [ngClass]="{
                    'is-invalid': selectedSkills.length < 1
                  }"
                >
                  <span *ngFor="let skill of selectedSkills" class="skill-chip">
                    {{ skill.name }}
                    <button (click)="removeSkill(skill)" class="remove-btn">
                      x
                    </button>
                  </span>
                  <!-- Input Field -->
                  <input
                    id="skills"
                    formControlName="skills"
                    type="text"
                    class="border-0"
                    (input)="filterSkills($event.target)"
                    placeholder="Ajoutez des compétences"
                    autocomplete="off"
                  />
                </div>
                <!-- Autocomplete Suggestions -->
                <ul class="autocomplete-list" *ngIf="filteredSkills.length">
                  <li
                    *ngFor="let skill of filteredSkills"
                    (click)="selectSkill(skill)"
                    class="autocomplete-item"
                  >
                    {{ skill.name }}
                  </li>
                </ul>
                <!-- Message d'erreur -->
                <div *ngIf="selectedSkills.length < 1" class="text-danger">
                  <div *ngIf="skills?.errors?.['required']">
                    Les compétences sont obligatoires.
                  </div>
                </div>
              </div>

              <!-- Description -->
              <div class="form-group mt-3">
                <h3 class="mt-4">Description détaillée</h3>
                <label for="description" class="focus-label"
                  >Rédigez une description du projet</label
                >
                <textarea
                  id="description"
                  formControlName="description"
                  class="form-control"
                  rows="15"
                  style="height: 300px"
                  placeholder=""
                  [ngClass]="{
                    'is-invalid':
                      description?.invalid &&
                      (description?.touched || description?.dirty)
                  }"
                ></textarea>
                <!-- Message d'erreur -->
                <div
                  *ngIf="description?.touched && description?.invalid"
                  class="text-danger"
                >
                  <div *ngIf="description?.errors?.['required']">
                    Le description du poste est obligatoire.
                  </div>
                  <div *ngIf="description?.errors?.['minlength']">
                    Le description du poste doit contenir au moins 30
                    caractères.
                  </div>
                </div>
              </div>

              <!-- Submit Button -->
              <div class="text-end mt-3">
                <button type="reset" class="btn btn-secondary mr-4 me-2">
                  Annuler
                </button>
                <button type="submit" class="btn btn-primary">Publier</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /Page Content -->
