<!-- Breadcrumb -->
<div class="bread-crumb-bar">
  <div class="container">
    <div class="row align-items-center inner-banner">
      <div class="col-md-12 col-12 text-center">
        <div class="breadcrumb-list">
          <h3> Publier une Offre</h3>
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="routes.home">Home</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">
                Publier une Offre
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="select-project mb-4">
          <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
            <div class="container">

              <!-- General Information -->
              <h3 class="mt-4">Généralités</h3>
              <div class="form-group">
                <label for="jobTitle">Titre du poste recherché</label>
                <input
                  id="jobTitle"
                  formControlName="jobTitle"
                  class="form-control"
                  type="text"
                  placeholder="Exemple : Développeur Full Stack"
                />
              </div>

              <div class="row">
                <!-- Job -->
                <div class="col-md-4">
                  <label for="job">Métier</label>
                  <select
                    id="job"
                    formControlName="job"
                    class="form-control"
                    (change)="onJobChange($event)"
                  >
                    <option *ngFor="let job of jobs" [value]="job.id">
                      {{ job?.name }}
                    </option>
                  </select>
                </div>

                <!-- Sub Activity -->
                <div class="col-md-4">
                  <div class="input-block">
                    <label for="sous-activite" class="focus-label">Sous Activité</label>
                    <input
                      formControlName="subActivity"
                      type="text"
                      class="form-control"
                      placeholder="Sous Activité"
                      readonly
                    />
                  </div>
                </div>

                <!-- Activity -->
                <div class="col-md-4">
                  <div class="input-block">
                    <label for="activite" class="focus-label">Activité</label>
                    <input
                      formControlName="activity"
                      type="text"
                      class="form-control"
                      placeholder="Activité"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <!-- Location -->
              <h3 class="mt-4">Localisation</h3>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label for="city">Ville</label>
                  <input
                    id="city"
                    formControlName="city"
                    class="form-control"
                    type="text"
                    (change)="onCityChange($event)"
                    placeholder="Saisir une ville"
                  />
                </div>

                <!-- Department (Read-only field) -->
                <div class="col-md-3">
                  <label for="department">Département</label>
                  <input
                    id="department"
                    type="text"
                    class="form-control"
                    formControlName="department"
                    readonly
                  />
                </div>

                <!-- Region (Read-only field) -->
                <div class="col-md-3">
                  <label for="region">Région</label>
                  <input
                    id="region"
                    type="text"
                    class="form-control"
                    formControlName="region"
                    readonly
                  />
                </div>
              </div>

              <!-- Contract Type -->
              <div class="row mt-3">
                <div class="col-md-4">
                  <label for="duration">Durée prévue</label>
                  <input
                    id="duration"
                    formControlName="duration"
                    class="form-control"
                    type="number"
                    placeholder="Entrez un nombre"
                  />
                </div>

                <div class="col-md-4">
                  <label for="timeUnit">Unité de temps</label>
                  <select
                    id="timeUnit"
                    formControlName="timeUnit"
                    class="form-control"
                  >
                    <option value="Semaine">Semaine</option>
                    <option value="Mois">Mois</option>
                    <option value="Année">Année</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label for="startDate">Date de début prévue</label>
                  <input
                    id="startDate"
                    formControlName="startDate"
                    class="form-control"
                    type="date"
                  />
                </div>
              </div>

              <!-- Competencies -->
              <h3 class="mt-4">Compétences</h3>
              <div class="form-group">
                <label for="skills">Compétences requises</label>
                <input
                  id="skills"
                  formControlName="skills"
                  class="form-control"
                  type="text"
                  placeholder="Ajoutez des compétences séparées par des virgules"
                />
              </div>

              <!-- Description -->
              <div class="form-group mt-3">
                <label for="description">Description détaillée</label>
                <textarea
                  id="description"
                  formControlName="description"
                  class="form-control"
                  rows="15"
                  style="height: 300px;"
                  placeholder="Rédigez une description du projet"
                ></textarea>
              </div>

              <!-- Submit Button -->
              <div class="text-end mt-3">
                <button type="reset" class="btn btn-secondary mr-4">Annuler</button>
                <button type="submit" class="btn btn-primary">Publier</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- /Page Content -->
