<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header subscribe-head">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Candidats</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/admin/dashboard'">Accueil</a>
            </li>

            <li class="breadcrumb-item active">Candidats</li>
          </ul>
        </div>
        <div class="col-auto">
          <ng-container>
            <a
              class="btn add-user"
              href="javascript:void(0)"
              data-bs-toggle="modal"
              data-bs-target="#add-candidat"
            >
              <i class="fas fa-plus"></i> Ajouter Candidat
            </a>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="subscribe-employe users-list">
          <ul class="client-filter">
            <li>
              <a
                (click)="filterCandidatesByStatus(null)"
                [ngClass]="{ selected: selectedStatus === null }"
                >Tous les Candidats</a
              >
            </li>
            <li>
              <a
                (click)="filterCandidatesByStatus('Active')"
                [ngClass]="{ selected: selectedStatus === 'Active' }"
                >Candidats Actifs</a
              >
            </li>
            <li>
              <a
                (click)="filterCandidatesByStatus('Inactive')"
                [ngClass]="{ selected: selectedStatus === 'Inactive' }"
                >Candidats Inactifs</a
              >
            </li>
            <li>
              <a
                (click)="filterCandidatesByStatus('Hired')"
                [ngClass]="{ selected: selectedStatus === 'Hired' }"
                >En Mission</a
              >
            </li>
          </ul>
        </div>

        <!-- Active User Header -->
        <div class="page-header user-active">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="page-title">{{ selectedHederTitle }} Candidats</h3>
              <p>
                Total <span>{{ countCandidates }} </span> Candidats
              </p>
            </div>
            <div class="col-auto">
              <a href="javascript:" class="btn export-btn me-1">
                <img src="assets/admin/img/export.svg" alt="" /> Exporter
              </a>
              <a
                class="btn fil filter-btn"
                href="javascript:void(0);"
                id="filter_search"
                (click)="openFilter()"
                (keydown.enter)="openFilter()"
              >
                <i class="fas fa-filter"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- /Active User Header -->

        <!-- Search Filter -->
        <div class="card filter-card" [class.filter-show]="filter">
          <div class="card-body pb-0">
            <form [formGroup]="filterForm" (ngSubmit)="onFilterSubmit()">
              <div class="row filter-row">
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="company-name">Métier</label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="profileTiltle"
                      (change)="onChange()"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="from-date">Nom</label>
                    <input
                      formControlName="lastName"
                      class="form-control"
                      type="text"
                      (change)="onChange()"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="to-date">Prénom</label>
                    <input
                      formControlName="firstName"
                      class="form-control"
                      type="text"
                      (change)="onChange()"
                    />
                  </div>
                </div>
              </div>
              <div class="row filter-row">
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="city">Ville</label>
                    <input
                      formControlName="city"
                      class="form-control"
                      type="text"
                      (change)="onChange()"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="department">Département</label>
                    <input
                      formControlName="department"
                      class="form-control"
                      type="text"
                      (change)="onChange()"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="region">Région</label>
                    <input
                      formControlName="region"
                      class="form-control"
                      type="text"
                      (change)="onChange()"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <button
                      class="btn btn-primary w-100 btn-lg login-btn d-flex align-items-center justify-content-center"
                      type="submit"
                    >
                      Rechercher
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /Search Filter -->

        <div class="card bg-white projects-card">
          <div class="card-body pt-0">
            <div class="tab-content pt-0">
              <div role="tabpanel" id="tab-4" class="tab-pane fade active show">
                <div class="table-responsive">
                  <div class="table-scroll">
                    <mat-form-field class="filter">
                      <input
                        matInput
                        (keyup)="searchData($event.target)"
                        placeholder="Recherche"
                        class="form-control form-control-sm search"
                      />
                    </mat-form-field>
                    <mat-table
                      [dataSource]="dataSource"
                      matSort
                      class="mat-elevation-z8"
                    >
                      <!-- Nom Column -->
                      <ng-container matColumnDef="ckeckbox">
                        <mat-header-cell
                          *matHeaderCellDef
                          style="flex: none; font-size: 16px"
                        >
                          <input
                            type="checkbox"
                            class="form-check-input"
                            id="customCheck1"
                            (click)="toggleCheckBoxes($event)"
                          />
                        </mat-header-cell>
                        <mat-cell
                          *matCellDef="let element"
                          style="flex: none; font-size: 16px"
                        >
                          <div class="form-check custom-checkbox">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              id="customCheck1"
                            />
                            <label
                              class="form-check-label"
                              for="customCheck1"
                            ></label>
                          </div>
                        </mat-cell>
                      </ng-container>

                      <!-- Date de création Column -->
                      <ng-container matColumnDef="candidate">
                        <mat-header-cell *matHeaderCellDef>
                          Candidat
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <span class="user-img">
                            <img
                              class="profile-initials"
                              [src]="baseUrl + element.image"
                              *ngIf="element.image !== null"
                            />
                            <div
                              class="profile-initials"
                              *ngIf="
                                getInitials(element) && element.image === null
                              "
                            >
                              {{ getInitials(element) }}
                            </div>
                          </span>
                          {{ getContact(element) }}
                        </mat-cell>
                      </ng-container>

                      <!-- Nom Column -->
                      <ng-container matColumnDef="phone">
                        <mat-header-cell mat-sort-header *matHeaderCellDef>
                          Téléphone
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          {{ element.phone }}
                        </mat-cell>
                      </ng-container>

                      <!-- Activité Column -->
                      <ng-container matColumnDef="profileTitle">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                          Métier
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          {{ element.profileTitle }}
                        </mat-cell>
                      </ng-container>

                      <!-- Contact Column -->
                      <ng-container matColumnDef="emailVerifiedAt">
                        <mat-header-cell *matHeaderCellDef>
                          Vérification
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <i
                            class="fa-regular fa-circle-check me-1"
                            style="font-size: 16px"
                            [ngClass]="{
                              'text-success': element.emailVerifiedAt
                            }"
                          >
                          </i>
                          Email
                        </mat-cell>
                      </ng-container>

                      <!-- Téléphone Column -->
                      <ng-container matColumnDef="createdAt">
                        <mat-header-cell mat-sort-header *matHeaderCellDef>
                          Date d'inscription
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          {{ getDate(element?.createdAt) }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="lastConnexion">
                        <mat-header-cell mat-sort-header *matHeaderCellDef>
                          Dernière connexion
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          {{ getDate(element?.lastConnection) }}
                        </mat-cell>
                      </ng-container>

                      <!-- Status Column -->
                      <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef>
                          Status
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <div
                            [ngClass]="{
                              'text-success': element.status?.name === 'Active',
                              'text-danger':
                                element.status?.name === 'Inactive',
                              'text-warning': element.status?.name === 'Hired'
                            }"
                          >
                            {{ element.status?.name }}
                          </div>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <mat-header-cell
                          *matHeaderCellDef
                          style="flex: none"
                        ></mat-header-cell
                        ><mat-cell
                          *matCellDef="let element"
                          style="flex: none"
                          data-bs-toggle="dropdown"
                          ><div class="hide-shave">
                            <a
                              href="javascript:void(0)"
                              class="dropdown-toggle nav-link"
                              ><i class="fas fa-ellipsis-v"></i
                            ></a>
                            <div class="dropdown-menu user-menu-list">
                              <a class="dropdown-item" data-dismiss="modal"
                                ><i class="fa-solid fa-eye"></i> Détails</a
                              >
                              <a
                                class="dropdown-item"
                                href="javascript:void(0)"
                                (click)="this.showDeleteCategoryModal(element)"
                                data-dismiss="modal"
                                ><i class="feather icon-trash text-danger"></i>
                                Supprimer</a
                              >
                            </div>
                          </div></mat-cell
                        ></ng-container
                      >

                      <mat-header-row
                        *matHeaderRowDef="displayedColumns"
                      ></mat-header-row>
                      <mat-row
                        *matRowDef="let row; columns: displayedColumns"
                      ></mat-row>
                    </mat-table>
                    <mat-paginator
                      [pageSizeOptions]="[10, 25, 50, 75, 100]"
                      showFirstLastButtons
                      class="d-flex justify-content-center align-items-center"
                      style="font-weight: bold; font-size: 14px"
                    ></mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Page Wrapper -->
      </div>

      <!-- Delete Modal -->
      <div class="modal custom-modal fade" id="delete_client" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-header">
                <h3>Supprimer</h3>
                <p>Êtes-vous sur de vouloir supprimer</p>
                <p>
                  <strong class="text-danger"
                    >{{ getContact(candidateToDelete) }} ?</strong
                  >
                </p>
              </div>
              <div class="modal-btn delete-action">
                <div class="row">
                  <div class="col-6">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-primary continue-btn"
                      (click)="deleteCandidate(candidateToDelete)"
                      >Supprimer</a
                    >
                  </div>
                  <div class="col-6">
                    <a
                      href="javascript:void(0);"
                      data-bs-dismiss="modal"
                      class="btn btn-primary cancel-btn"
                      >Annuler</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Delete Modal -->
    </div>
  </div>

  <!-- Add Modal -->
  <div class="modal fade custom-modal" id="add-candidat">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header flex-wrap">
          <div class="text-center w-100 mb-3">
            <img src="assets/img/interim.png" alt="" />
          </div>
          <h4 class="modal-title">Ajouter un Client</h4>
          <button type="button" class="close" data-bs-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form [formGroup]="addCandidateForm" (ngSubmit)="onCandidateSubmit()">
            <!-- First Name -->
            <div class="input-block">
              <label for="firstName" class="focus-label"
                >Prénom <span class="label-star"> *</span></label
              >
              <input
                id="firstName"
                formControlName="firstName"
                type="text"
                class="form-control floating"
                [ngClass]="{
                  'is-invalid':
                    addCandidateForm.get('firstName')?.invalid &&
                    (addCandidateForm.get('firstName')?.touched ||
                      addCandidateForm.get('firstName')?.dirty)
                }"
              />
              <div
                *ngIf="
                  addCandidateForm.get('firstName')?.touched &&
                  addCandidateForm.get('firstName')?.invalid
                "
                class="text-danger"
              >
                <div
                  *ngIf="addCandidateForm.get('firstName')?.errors?.['required']"
                >
                  Le prénom est obligatoire.
                </div>
              </div>
            </div>

            <!-- Last Name -->
            <div class="input-block">
              <label for="lastName" class="focus-label"
                >Nom <span class="label-star"> *</span></label
              >
              <input
                id="lastName"
                formControlName="lastName"
                type="text"
                class="form-control floating"
                [ngClass]="{
                  'is-invalid':
                    addCandidateForm.get('lastName')?.invalid &&
                    (addCandidateForm.get('lastName')?.touched ||
                      addCandidateForm.get('lastName')?.dirty)
                }"
              />
              <div
                *ngIf="
                  addCandidateForm.get('lastName')?.touched &&
                  addCandidateForm.get('lastName')?.invalid
                "
                class="text-danger"
              >
                <div
                  *ngIf="addCandidateForm.get('lastName')?.errors?.['required']"
                >
                  Le nom est obligatoire.
                </div>
              </div>
            </div>

            <!-- Email -->
            <div class="input-block">
              <label for="email" class="focus-label"
                >Email <span class="label-star"> *</span></label
              >
              <input
                id="email"
                formControlName="email"
                type="email"
                class="form-control floating"
                [ngClass]="{
                  'is-invalid':
                    addCandidateForm.get('email')?.invalid &&
                    (addCandidateForm.get('email')?.touched ||
                      addCandidateForm.get('email')?.dirty)
                }"
              />
              <div
                *ngIf="
                  addCandidateForm.get('email')?.touched &&
                  addCandidateForm.get('email')?.invalid
                "
                class="text-danger"
              >
                <div
                  *ngIf="addCandidateForm.get('email')?.errors?.['required']"
                >
                  L'email est obligatoire.
                </div>
                <div *ngIf="addCandidateForm.get('email')?.errors?.['email']">
                  Veuillez entrer une adresse email valide.
                </div>
              </div>
            </div>
            <hr />
            <button
              type="submit"
              class="btn btn-primary w-100 btn-lg login-btn d-flex align-items-center justify-content-center"
            >
              Ajouter
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Modal -->
</div>
<div class="modal fade custom-modal" id="success-added">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header flex-wrap">
        <div class="text-center w-100 mb-3">
          <img src="assets/img/interim.png" alt="" />
        </div>
        <h4 class="modal-title">Candidat créé avec succès</h4>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body parent">
        <p>
          <strong>Identifiants par défaut :</strong><br />
          <i class="fas fa-envelope"></i> Email :
          <span class="highlight" (click)="copyToClipboard(userEmail)">{{
            userEmail
          }}</span
          ><br />
          <i class="fas fa-key"></i> Mot de passe temporaire :
          <span class="warning" (click)="copyToClipboard('admin1234')"
            >admin1234</span
          >
        </p>

        <div class="alert alert-warning">
          <i class="fas fa-exclamation-triangle"></i>
          Le candidat doit se connecter et modifier son mot de passe dès la
          première connexion.
        </div>

        <p class="instructions">
          Pour compléter le profil :<br />
          1. Transmettez ces identifiants au candidat<br />
          2. Demandez-lui de se connecter
          <span class="ici text-danger" (click)="requestLogin(userEmail)"
            >ici</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
