<!-- Page Content -->
<div class="pro-pos">
  <div class="setting-content">
    <form>
      <div class="card">
        <div class="pro-head">
          <h3>Profile Setting</h3>
        </div>
        <div class="pro-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-row pro-pad pt-0 ps-0">
                <div class="input-block col-md-6 pro-pic">
                  <label for="profile-picture" class="form-label"
                    >Profile Picture</label
                  >
                  <div class="d-flex align-items-center">
                    <div class="upload-images freelancer-pic-box">
                      <img
                        src="assets/img/icon/user-img.svg"
                        alt=""
                        id="blah"
                      />
                    </div>
                    <div class="ms-3 freelancer-pic-upload">
                      <label class="file-upload image-upbtn">
                        Upload Image <input type="file" id="imgInp" />
                      </label>
                      <p>Max Image size 300*300</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="first-name" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="candidate.firstName"
                  name="firstName"
                />
              </div>
            </div>

            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="last-name" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="candidate.lastName"
                  name="lastName"
                />
              </div>
            </div>

            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="phone-number" class="form-label"
                  >Phone Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="candidate.phone"
                  name="phone"
                />
              </div>
            </div>

            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="email-address" class="form-label"
                  >Email Address</label
                >
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="candidate.email"
                  name="email"
                />
              </div>
            </div>

            <div class="col-lg-4 col-md-12">
              <div class="mb-3">
                <label for="date-of-birth" class="form-label"
                  >Date of Birth</label
                >
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="candidate.birthDate"
                  name="birthDate"
                />
              </div>
            </div>

            <div class="col-lg-4 col-md-12">
              <div class="mb-3">
                <label for="job-title" class="form-label">Your Job Title</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="candidate.profileTitle"
                  name="profileTitle"
                />
              </div>
            </div>

            <div class="col-lg-4 col-md-12">
              <div class="mb-3">
                <label for="jobs" class="form-label">Type of Job</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="candidate.role"
                  name="role"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="pro-head">
          <h4 class="pro-titles mb-0">Overview</h4>
        </div>
        <div class="pro-body">
          <div class="row">
            <div class="input-block col-md-12">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" rows="5"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-lg-12 w-100">
          <div class="card flex-fill mb-3">
            
            <form [formGroup]="form">
              <div class="row">
                <div class="col-md-12">
                  <h4>Skills</h4>
                </div>
                <div class="row" formArrayName="skills">
                  <!-- Existing Skills List -->
                  <ng-container *ngFor="let skill of skillsArray.controls; let i = index" [formGroupName]="i">
                    <div class="col-md-6">
                      <div class="input-block">
                        <label for="skillName-{{ i }}" class="form-label">Skill</label>
                        <input
                          id="skillName-{{ i }}"
                          formControlName="skillName"
                          class="form-control"
                          placeholder="Enter a skill"
                        />
                      </div>
                    </div>
            
                    <div class="col-md-6">
                      <div class="input-block">
                        <label for="level-{{ i }}" class="focus-label">Level</label>
                        <select
                          formControlName="level"
                          class="form-control form-select"
                          placeholder="Choose Level"
                        >
                          <option *ngFor="let level of skillLevels" [value]="level">{{ level }}</option>
                        </select>
                        <div class="new-addd">
                          <!-- Remove button visible except for the first skill -->
                          <a class="remove_row" (click)="removeSkills(i)" tabindex="0" *ngIf="skillsArray.controls.length > 1">
                            Remove
                          </a>
            
                          <!-- Add New Skill button visible only for the last skill -->
                          <a
                            class="add-new"
                            (click)="addSkillManually()"
                            *ngIf="i === skillsArray.controls.length - 1"
                            tabindex="0"
                          >
                            <i class="feather icon-plus-circle me-1"></i>
                            Add New Skill
                          </a>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </form>
            
          </div>
        </div>

       

        <form [formGroup]="form">
          <div class="row" formArrayName="education">
            <div class="col-md-12">
              <h4>Education</h4>
            </div>
            <div class="row" *ngFor="let education of educationArray.controls; let i = index" [formGroupName]="i">
              <div class="col-md-6 col-lg-3">
                <div class="input-block">
                  <label for="degree-name" class="focus-label">Degree Name</label>
                  <input type="text" formControlName="degreeName" class="form-control" />
                </div>
              </div>
          
              <div class="col-md-6 col-lg-3">
                <div class="input-block">
                  <label for="university-name" class="focus-label">University Name</label>
                  <input type="text" formControlName="universityName" class="form-control" />
                </div>
              </div>
          
              <div class="col-md-6 col-lg-3">
                <div class="input-block">
                  <label for="start-date" class="focus-label">Start Date</label>
                  <div class="cal-icon">
                    <input
                      type="text"
                      formControlName="startDate"
                      class="form-control datetimepicker"
                      placeholder="Choose"
                      bsDatepicker
                      [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                    />
                  </div>
                </div>
              </div>
          
              <div class="col-md-6 col-lg-3">
                <div class="input-block">
                  <label for="end-date" class="focus-label">End Date</label>
                  <div class="cal-icon">
                    <input
                      type="text"
                      formControlName="endDate"
                      class="form-control datetimepicker"
                      placeholder="Choose"
                      bsDatepicker
                      [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                    />
                  </div>
          
                  <!-- Add or Remove Button -->
                  <div class="new-addd">
                    <!-- Show 'Add New' button for all except the last entry -->
                    <a
                      *ngIf="i === educationArray.length - 1"
                      class="add-new"
                      (click)="addEducation()"
                      tabindex="0"
                    >
                      <i class="feather icon-plus-circle me-1"></i> Add New
                    </a>
          
                    <!-- Show 'Remove' button only if there are more than one education entry -->
                    <a
                      *ngIf="educationArray.length > 1"
                      class="remove_row"
                      (click)="removeEducation(i)"
                      tabindex="0"
                    >
                      Remove
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <div class="row" formArrayName="experiences">
            <div class="col-md-12">
              <h4>Experience</h4>
            </div>
             
          
            <!-- Existing Experience Form Fields (Looping through experiencesArray) -->
            <div
              class="row"
              *ngFor="let experience of experiencesArray.controls; let i = index"
              [formGroupName]="i"
            >
              <div class="col-md-6 col-lg-3">
                <div class="input-block">
                  <label for="company-name" class="focus-label">Company Name</label>
                  <input
                    type="text"
                    formControlName="companyName"
                    class="form-control"
                  />
                </div>
              </div>
          
              <div class="col-md-6 col-lg-3">
                <div class="input-block">
                  <label for="position" class="focus-label">Position</label>
                  <select
                    formControlName="position"
                    placeholder="Select"
                    class="form-control form-select"
                  >
                    <option *ngFor="let level of skillLevels" [value]="level">
                      {{ level }}
                    </option>
                  </select>
                </div>
              </div>
          
              <div class="col-md-6 col-lg-3">
                <div class="input-block">
                  <label for="start-date" class="focus-label">Start Date</label>
                  <div class="cal-icon">
                    <input
                      type="text"
                      formControlName="startDate"
                      class="form-control datetimepicker"
                      bsDatepicker
                      placeholder="Choose"
                      [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                    />
                  </div>
                </div>
              </div>
          
              <div class="col-md-6 col-lg-3">
                <div class="input-block">
                  <label for="end-date" class="focus-label">End Date</label>
                  <div class="cal-icon">
                    <input
                      type="text"
                      formControlName="endDate"
                      class="form-control datetimepicker"
                      bsDatepicker
                      placeholder="Choose"
                      [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                    />
                  </div>
                  <div class="new-addd">
                    <a
                      *ngIf="i === experiencesArray.length - 1"
                      class="add-new"
                      (click)="addExperience()"
                      tabindex="0"
                      ><i class="feather icon-plus-circle me-1"></i> Add New</a
                    >
                    <a
                      *ngIf="experiencesArray.length > 1"
                      class="remove_row"
                      (click)="removeExperience(i)"
                      >Remove</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <div class="row" formArrayName="languages">
            <div class="col-md-12">
              <h4>Language</h4>
            </div>
            <div class="row" *ngFor="let language of languagesArray.controls; let i = index" [formGroupName]="i">
              <div class="col-md-6" >
                <div class="input-block">
                  <label for="language" class="form-label">Language</label>
                  <input type="text" class="form-control" formControlName="name" />
                </div>
              </div>
              <div class="col-md-6" >
                <div class="input-block">
                  <label for="level" class="focus-label">Level</label>
                  <select formControlName="level" class="form-control form-select">
                    <option *ngFor="let level of selectedList6" [value]="level.value">
                      {{ level.value }}
                    </option>
                  </select>
                  <div class="new-addd">
                    <a *ngIf="i === languagesArray.length - 1" class="add-new" (click)="addLanguage()" tabindex="0">
                      <i class="feather icon-plus-circle me-1"></i> Add New
                    </a>
                    <a *ngIf="languagesArray.length > 1" class="remove_row" (click)="removeLanguage(i)">
                      Remove
                    </a>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
          
      </form>
      </div>

      
      
      <div class="card text-end border-0">
        <div class="pro-body">
          <button class="btn btn-secondary click-btn btn-plan">Cancel</button>
          <button
            class="btn btn-primary click-btn btn-plan"
            type="button"
            (click)="navigation()"
            (keydown.enter)="navigation()"
            tabindex="0"
          >
            Update
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- /Page Content -->
 
