<!-- Page Content -->
<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div class="container w-50 m-auto mt-5">
    <div class="page-title portfolio-title">
      <h3 class="mb-0">Entrez un mot de passe valide pour sécuriser votre compte</h3>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="input-block">
          <label for="password" class="focus-label"
            >Nouveau mot de passe
          </label>
          <div class="position-relative">
            <input
              [type]="password[0] ? 'text' : 'password'"
              formControlName="password"
              class="form-control"
            />
            <div
              class="password-icon"
              (click)="togglePassword(0)"
              (keydown.enter)="togglePassword(0)"
              tabindex="0"
            >
              <div class="password-icon" (click)="togglePassword(0)">
                <span
                  class="fas"
                  [ngClass]="password[0] ? 'fa-eye' : 'fa-eye-slash'"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="input-block">
          <label for="confirm-password" class="focus-label"
            >Confirmer le mot de passe
          </label>
          <div class="position-relative">
            <input
              [type]="password[1] ? 'text' : 'password'"
              formControlName="confirmPassword"
              class="form-control floating pass-inputs"
            />
            <div
              class="password-icon"
              (click)="togglePassword(1)"
              (keydown.enter)="togglePassword(1)"
              tabindex="0"
            >
              <span
                class="fas"
                [ngClass]="password[1] ? 'fa-eye' : 'fa-eye-slash'"
              ></span>
            </div>

            <div
              *ngIf="
                resetForm.errors && resetForm.get('confirmPassword')?.touched
              "
              class="text-danger"
            >
              <small
                >La confirmation du mot de passe ne correspond pas au mot de
                passe</small
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Password validation error messages -->
      <div>
        <!-- Min Length -->
        <div
          [ngClass]="{
            'text-success': passwordValidations.minLength,
            'text-danger': !passwordValidations.minLength
          }"
        >
          <small>Au moins 8 caractères</small>
        </div>

        <!-- Lowercase Letter -->
        <div
          [ngClass]="{
            'text-success': passwordValidations.hasLowercase,
            'text-danger': !passwordValidations.hasLowercase
          }"
        >
          <small>Une lettre minuscule</small>
        </div>

        <!-- Uppercase Letter -->
        <div
          [ngClass]="{
            'text-success': passwordValidations.hasUppercase,
            'text-danger': !passwordValidations.hasUppercase
          }"
        >
          <small>Une lettre majuscule</small>
        </div>

        <!-- Number -->
        <div
          [ngClass]="{
            'text-success': passwordValidations.hasNumber,
            'text-danger': !passwordValidations.hasNumber
          }"
        >
          <small>Un chiffre</small>
        </div>

        <!-- Special Character -->
        <div
          [ngClass]="{
            'text-success': passwordValidations.hasSpecialChar,
            'text-danger': !passwordValidations.hasSpecialChar
          }"
        >
          <small>Un caractère spécial (!&#64;#$%^&amp;*)</small>
          <!-- Escaped special characters -->
        </div>
      </div>
      <div class="col-lg-12">
        <div class="d-flex doc-btn">
          <button
            class="btn btn-secondary click-btn btn-plan"
            (click)="onCancel()"
          >
            Annuler
          </button>
          <button class="btn btn-primary">Mettre à jour</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- /Page Content -->

<!-- The Modal -->
<div class="modal fade success-modal hire-modal" id="data-changed">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body pt-4">
        <div class="success-msg-content text-center">
          <h4>Données Modifiées</h4>
          <p>Vos données ont été modifiées avec succès.</p>
          <a
            href="javascript:void(0);"
            data-bs-dismiss="modal"
            class="btn btn-primary mt-3"
            >D'accord</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /The Modal -->
