<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Verification d'entreprise</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'">Dashbord</a></li>
            <li class="breadcrumb-item active">Verification d'entreprise</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->


    <div class="row">
      <div class="col-lg-12">
        <div class="card bg-white">
          <div class="card-body pt-0">
            <div class="card-header mb-4">
               
            </div>
            <div class="tab-content pt-0">
              <div role="tabpanel" id="employer" class="tab-pane fade show active">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <div class="table_header">
                        <div class="dataTables_length">
                          <label for="show">Show</label>
                          <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()" class="form-control form-control-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          <label for="entries">Entries</label>
                        </div>
                        <div class="dataTables_filter">
                          <label for="search">Search:</label>
                          <input [(ngModel)]="searchDataValue" (ngModelChange)="searchData(searchDataValue)" class="form-control form-control-sm" />
                        </div>
                      </div>
                      <div class="table-scroll">
                        <table matSort (matSortChange)="sortData($event)" class="table table-center table-hover mb-0 datatable">
                          <thead>
                            <tr>
                              <th mat-sort-header="Date Creation">Date de création</th>
                              <th mat-sort-header="Nom">Nom</th>
                               <th mat-sort-header="Activite">Activité</th>
                               <th mat-sort-header="Contact">Contact</th>
                              <th mat-sort-header="Telephone">Téléphone</th>
                              <th mat-sort-header="Ville">Ville</th>
     
                               <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let company of companies" (click)="setSelectedCompany(company)">
                              <td>{{ getDate(company.createdAt) }}</td>
                               <td data-bs-toggle="modal"
                               data-bs-target="#show-details">{{ company.name }}
                             
                              </td>
                              <td>{{ company.nafTitle }}</td>
                               <td>
                                {{ company.employees?.[0]?.firstName || '' }}
                                {{ company.employees?.[0]?.lastName || '' }}
                              </td>
                              <td>{{ company.employees?.[0]?.phone || 'N/A' }}</td>
                              <td>
                                {{   company.location?.city?.name  }}
                               </td>
                             
                               <td>
                                <button (click)="approve(company.id)" class="btn btn-success me-2">Approve</button>
                                 <button (click)="reject(company.id)" class="btn btn-danger">Reject</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="table_footer">
                        <div class="col-sm-12 col-md-5">
                          <div class="dataTables_info">
                            Showing {{ serialNumberArray[0] }} to {{ serialNumberArray[serialNumberArray.length - 1] }} of {{ totalData }} entries
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                          <div class="pagination_section">
                            <ul class="pagination">
                              <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
                                <a (click)="getMoreData('previous')" (keydown.enter)="getMoreData('previous')" class="page-link" href="javascript:void(0);" tabindex="-1">Previous</a>
                              </li>
                              <li *ngFor="let item of pageNumberArray" class="page-item" [class.active]="item === currentPage">
                                <a (click)="moveToPage(item)" (keydown.enter)="moveToPage(item)" class="page-link" href="javascript:void(0);">{{ item }}</a>
                              </li>
                              <li class="page-item" [ngClass]="{ disabled: currentPage === pageNumberArray[pageNumberArray.length - 1] || lstIdentity.length === 0 }">
                                <a (click)="getMoreData('next')" (keydown.enter)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Page Wrapper -->


 
  <!-- Modal -->
<div class="modal fade" id="show-details">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ selectedCompany?.name }}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <h5>Company Details</h5>
        <div class="form-group">
          <label for="siret">date </label>
          <input type="text" id="date" class="form-control" [value]="getDate(selectedCompany?.createdAt)" readonly />
        </div>
        <div class="form-group">
          <label for="siret">SIRET</label>
          <input type="text" id="siret" class="form-control" [value]="selectedCompany?.siret" readonly />
        </div>
        <div class="form-group">
          <label for="email">Contact</label>
          <input type="text" id="email" class="form-control" [value]="selectedCompany?.employees?.[0]?.firstName - selectedCompany?.employees?.[0]?.lastName" readonly />
        </div>
        
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" [value]="selectedCompany?.employees?.[0]?.email || 'N/A'" readonly />
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" id="phone" class="form-control" [value]="selectedCompany?.employees?.[0]?.phone || 'N/A'" readonly />
        </div>
        <div class="form-group">
          <label for="naf">NAF</label>
          <input type="text" id="naf" class="form-control" [value]="selectedCompany?.naf" readonly />
        </div>
        <div class="form-group">
          <label for="nafTitle">Activite</label>
          <input type="text" id="nafTitle" class="form-control" [value]="selectedCompany?.nafTitle" readonly />
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" id="category" class="form-control" [value]="selectedCompany?.category" readonly />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <input type="text" id="message" class="form-control" [value]="selectedCompany?.message" readonly />
        </div>

        <h5>Location</h5>
        <div class="form-group">
          <label for="address">Ville</label>
          <input type="text" id="address" class="form-control" [value]="selectedCompany?.location?.city?.name" readonly />
        </div>
         
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" id="address" class="form-control" [value]="selectedCompany?.location?.address" readonly />
        </div>
        <div class="form-group">
          <label for="addressLine2">Address Line 2</label>
          <input type="text" id="addressLine2" class="form-control" [value]="selectedCompany?.location?.addressLine2 || 'N/A'" readonly />
        </div>


        <h5>Status</h5>
        <div class="form-group">
          <label for="status">Description</label>
          <input type="text" id="status" class="form-control" [value]="selectedCompany?.status?.description" readonly />
        </div>
        
        
      </div>
    </div>
  </div>
</div>